.sfondo {
    /*background-color: #121212;*/
    background: linear-gradient(50deg, rgba(18, 18, 18, 1) 0%, rgba(18, 18, 18, 1) 36%, rgba(37, 36, 36, 1) 100%);
}

ul {
    list-style-type: none;
}


a {
    text-decoration: none;
}

.darker {
    background-color: rgb(14, 13, 13);
}

/*Prima Aside (sinistra)*/

.tendina {
    font-size: larger;
    font-weight: bold;
}

button div {
    border-radius: 3px;
}

.liked {
    background: linear-gradient(135deg, #450af5, #c4efd9);
}

.iconEpisodes {
    color: #15c255;
}

.yourEpisodes {
    background: linear-gradient(135deg, rgba(9, 85, 59, 1) 80%, rgba(21, 194, 85, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

.scrolla {
    /*overflow: auto;*/
    height: 21rem;
}

.scrolla:-webkit-scrollbar-thumb {
    background: gray;
    border: 6px solid rgba(0, 0, 0, 0.2);
}

/*Main*/

.main-scrolla {
    height: 50rem;
}

.profilo {
    max-width: 12rem;
}

.first-song {
    object-fit: cover;
}

.small {
    font-size: small;
}

.penombra {
    color: rgba(190, 189, 189, 0.623);
    background-color: rgba(104, 104, 104, 0.211);
    border-radius: 10px;
}

.sectionBackground {
    background: linear-gradient(8deg, rgba(20, 19, 19, 1) 0%, rgba(20, 19, 19, 1) 46%, rgba(43, 42, 42, 1) 100%);
}

.playlist {
    background-color: rgba(104, 104, 104, 0.211);
    max-height: 19rem;
}

.playlist-description {
    font-size: x-small;
}

.playlist-sizing {}

/*Seconda Aside (destra)*/

h5 {
    font-size: medium;
    font-weight: bold;
}

#friendsActivity {
    overflow: auto;

    height: 21rem;
}

.friendInfo {
    height: 1.5rem;

}

.friendTitle {
    font-size: smaller;
}

.friendTime {
    font-size: smaller;
}

.friendSong {
    font-size: xx-small;
}

.friendCategory {
    font-size: x-small;
}

/*------------------------ARTIST PAGE---------------------------------*/

#background{
    background-image: url(../imgs/main/eminem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.btn-play{
    background-color: #15c255;
    width: fit-content;
    border-radius: 50%;
}
.btn-play:hover{
    transform: scale(1.25);
}

.btn-follow{
    border: 1px solid white;
    border-bottom: 2px solid white;
}
.btn-follow:hover{
    transform: scale(1.05);
}